<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>debugView</key>
	<dict>
		<key>title</key>
		<dict>
			<key>size</key>
			<string>13</string>
			<key>color</key>
			<string>FFFFFFFF</string>
			<key>font</key>
			<string>Menlo Bold</string>
		</dict>
		<key>appearance</key>
		<dict>
			<key>frameColor</key>
			<string>0000FFFF</string>
			<key>backgroundColor</key>
			<string>FFFFFFFF</string>
			<key>lineSpace</key>
			<string>7</string>
			<key>save</key>
			<true/>
			<key>path</key>
			<string>~/Desktop/debugView</string>
			<key>usePDF</key>
			<false/>
			<key>numberOfBitsPerColorComponent</key>
			<integer>0</integer>
			<key>maxFieldSize</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>200</integer>
			</dict>
		</dict>
		<key>propertyName</key>
		<dict>
			<key>color</key>
			<string>5D5C58FF</string>
			<key>font</key>
			<string>Menlo</string>
			<key>size</key>
			<string>12</string>
		</dict>
		<key>image</key>
		<dict>
			<key>size</key>
			<string>{60, 60}</string>
			<key>dataToImage</key>
			<true/>
			<key>propertyNameContains</key>
			<array>
				<string>image</string>
				<string>icon</string>
			</array>
		</dict>
		<key>text</key>
		<dict>
			<key>color</key>
			<string>000000FF</string>
			<key>font</key>
			<string>Menlo</string>
			<key>size</key>
			<string>12</string>
		</dict>
		<key>numbers</key>
		<dict>
			<key>highlight</key>
			<true/>
			<key>color</key>
			<string>1C00CFFF</string>
			<key>font</key>
			<string>Menlo</string>
			<key>size</key>
			<string>12</string>
		</dict>
		<key>keywords</key>
		<dict>
			<key>highlight</key>
			<true/>
			<key>color</key>
			<string>AA0D91FF</string>
			<key>font</key>
			<string>Menlo</string>
			<key>size</key>
			<string>12</string>
		</dict>
		<key>NSDate</key>
		<dict>
			<key>format</key>
			<string>yyyy-MM-dd</string>
		</dict>
	</dict>
	<key>debugDescription</key>
	<dict>
		<key>NSData</key>
		<dict>
			<key>cutLenght</key>
			<integer>50</integer>
		</dict>
	</dict>
</dict>
</plist>
