<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CocoaDebugKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Test Application.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>pkDebugFrameworkMobile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD2761EA1B0E1C050000BB5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD2761F51B0E1C050000BB5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD27620E1B0E20B50000BB5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD2762201B0E20B50000BB5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD2762401B0E30210000BB5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD2762521B0E30210000BB5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD4DF05D1ED0BEA6000E78A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD4DF0671ED0BEA6000E78A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD4DF0AF1ED0C08B000E78A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD4DF0C71ED0C08B000E78A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD4DF0F51ED0C3B0000E78A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD4DF0FF1ED0C3B0000E78A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD4DF1191ED0C3F4000E78A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD4DF1231ED0C3F4000E78A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD5796071CC522EB0014BFD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD5796111CC522EB0014BFD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD8A49FB1ED1C17D005E34EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD8A4A051ED1C17D005E34EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD8A4A411ED1C97F005E34EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD8A4A4B1ED1C980005E34EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
